.box-login {
  
    width: 30vw;
    height: 70vh;
    display: grid;
    grid-template:  1fr 1fr 1fr 1fr/ 20% 20% 20%  20% 20% ;
    background: #d10a30;  
    border-radius: 30px;
    margin-top: 10vh;
  }

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.input{
  margin: 10%;
  grid-column: 2 / 5;
}
