<app-header></app-header>

<div class="row">
  <div class="mx-auto col-10 col-md-8 col-lg-3">
    <!-- Form -->
    <form [formGroup]="form" class="form-example">
      <h1>Interoperability</h1>
      <p class="description">
        Enter the email of the user and the number of messages that you want to see.
      </p>
      <!-- Input fields -->
      <div class="form-group">
        <label for="email" ><h5>Email</h5></label>
        <input
          type="text"
          class="form-control username"
          placeholder="Email..."
          [formControlName]="'email'"
        />
      </div>
      <br>
      <div class="form-group">
        <label for="number"><h5>Nº of Messages</h5></label>
        <input
          type="number"
          class="form-control password"
          placeholder="Number of messages..."
          [formControlName]="'number'"
        />
      </div>

      <button type="submit" id="boton" (click)="prueba()">
        Search
      </button>
    </form>
    <!-- Form end -->
  </div>
</div>

<div *ngIf="loading" class="cssload-container">
  <div class="cssload-speeding-wheel"></div>
</div>

<div *ngFor="let message of messages">
  <div class="card w-25">
    <div class="card-header bg-transparent">
      <h4 id="header">User: {{message.userName}}</h4>
    </div>
    <div class="card-body">
      <h6 class="card-title">Channel: {{message.channelName}}</h6>
      <p class="card-text">{{message.content}}</p>
    </div>
    <div class="card-footer bg-transparent" id="footer">
      <p class="card-text"><small class="text-muted">{{changeDateFormat(message.created_at)}}</small></p>
    </div>
  </div>
</div>

<!-- <div class="dropdown-center" id="dropdown">
  <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <b>Nº of Messages  </b>
  </button>
  <ul class="dropdown-menu">
    <div *ngFor="let i of option">
      <li><a class="dropdown-item" (click)="prueba(i)">{{i}}</a></li>
    </div>
  </ul>
</div> -->

